.profile__edit-button {
    width: 24px;
    height: 24px;
    background-image: url(../../../images/Edit\ Button.svg);
    border: 0;
    border-radius: 0;
    background-color: black;
    background-size: cover;
    margin-left: 18px;
    margin-top: 37px;
    
}

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .profile__edit-button {
        position: absolute;
        width: 18px;
        height: 18px;
        top: 118px;
        left: 226px;
    }
}