.popup__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    border-radius: 2px;
    margin: 48px auto 0 auto;
    width: 358px;
    min-height: 50px;
    text-decoration: none;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.popup__submit:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .popup__submit {
        width: 238px;
        min-height: 46px;
        margin-top: 45px;
        font-size: 14px;
        line-height: 17px;
    }
}