.profile__popup-content {
    max-width: 430px;
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    outline: 0;
    margin: 195px auto 0 auto;
    padding-top: 34px;
    padding-bottom: 37px;
}

@media screen and (max-width: 900px) {
    .profile__popup-content {
        margin-top: 123px;
        width: 282px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}